.gitignore:

/build

.gradle/
build/
**/build/

.idea/
*.iml
*.iws
*.ipr

local.properties

*.class
*.jar
*.war
*.ear

*.log
captures/

*.apk
*.ap_
*.dex
*.so
*.nar
*.a
*.hprof

lint/intermediates/
lint/generated/

**/generated/
**/kapt/
kapt3/

google-services.json

mapping.txt
proguard/

obj/

.DS_Store
Thumbs.db
